#!/usr/bin/env zsh

export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
export EDITOR="{{- .shell.env.editor -}}"
export BW_SERVER="{{- .bw_addr -}}"
export VAULT_ADDR="{{- .hcv_addr -}}"
export FZF_DEFAULT_OPTS='--height 40% --tmux bottom,40% --layout reverse --border top'