body,html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(33,37,41);
  height: 100%;
}

#navbarText {
  justify-content: space-between;
}

.nav-item a {
  cursor: pointer;
  max-width: fit-content !important;
  white-space: nowrap;
}

.nav-item a.dropdown-item {
  max-width: 100% !important;
}

.nav-item a.dropdown-item.active {
  color: black;
  background-color: transparent;
}

.nav-item a.dropdown-item:active {
  background-color: orange;
}

.navbar-brand {
  max-height: 140px;
}

.backgroundHeader {
  background-repeat:no-repeat;
  background-position: center center;
  position: relative;
  min-height: 240px;
}

.backgroundHeader h1 {
  color: white;
  position: absolute;
  font-weight: 700;
  font-size: 5rem;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#body .containerContainer {
  background-color: rgb(33,37,41);
  color: white;
  padding: 50px 0;
}

#body .containerContainer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 16px;
}

#body .containerContainer.lessBottomPadding {
  padding-bottom: 8px !important;
  border-bottom: 12px solid orange;
}

#body .containerContainerTwo {
  padding: 50px 0;
  background-color: rgb(245,245,245);
  border-bottom: 12px solid orange;
}

#body .containerContainerThree {
  padding: 50px 0;
  border-bottom: 12px solid orange;
}

#body .containerContainerFour {
  /*  light gray background */
  background-color: rgb(245,245,245);
  color: black;
  padding: 50px 0;
}

.bigImage {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.textSection h2 {
  color: orange;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.textSection p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.textSectionThree h2 {
  color: orange;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  padding-left: 48px;
  position: relative;
}

.textSectionThree h2 i {
  position: absolute;
  top: 54%; left: 0px;
  transform: translateY(-50%);
}

.textSectionThree p {
  font-size: 1.1rem;
  text-align: left;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.containerTitle {
  color: rgb(33,37,41);
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0rem;
  text-align: center;
}

.textSectionTwo h2 {
  color: orange;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.textSectionTwo p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 0rem;
}

.button {
  background-color: orange;
  color: black;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid orange;
  transition: all 0.2s;
  margin-top: 1rem;
}

.button:hover {
  opacity: 0.8;
}

p.p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.containerClass {
  border-bottom: 12px solid orange;
  padding-bottom: 36px;
  margin-bottom: 36px;
}

.containerClass img {
  width: 100%;
  height: auto !important;
  border-radius: 12px;
}

.containerClass .textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
}

.containerClass .details {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}

.containerClass .details i {
  margin-top: 8px;
  margin-right: 2px;
}

.containerClass .details i:last-of-type {
  margin-left: 36px;
}

.containerClass h2 {
  margin-bottom: 0px;
}

.disabled {
  background-color: red; 
  border: 2px transparent;
  color: white;
}

hr {
  background-color: white;
  width: 100%;
  height: 4px !important;
}

#footer {
  color: white;
  padding: 24px;
  background-color: rgb(49, 54, 59);
}

#footer p {
  text-align: center;
  color: rgb(194, 194, 194);
  margin: 0px;
}