
.figure-content{display:flex;justify-content:center;align-items:center}.figure-grid{display:grid;grid-template-columns:repeat(2,700px);grid-template-rows:repeat(2,350px);flex:0 0 auto}.figure-grid .area-top{grid-column:1/span 2;grid-row:1/span 1}.figure-grid .area-right{grid-column:2/span 1;grid-row:1/span 2}.figure-grid .area-bottom{grid-column:1/span 2;grid-row:2/span 1}.figure-grid .area-left{grid-column:1/span 1;grid-row:1/span 2}.figure-grid .area-top-left{grid-column:1/span 1;grid-row:1/span 1}.figure-grid .area-top-right{grid-column:2/span 1;grid-row:1/span 1}.figure-grid .area-bottom-left{grid-column:1/span 1;grid-row:2/span 1}.figure-grid .area-bottom-right{grid-column:2/span 1;grid-row:2/span 1}.figure-grid > *{overflow:hidden}.background{background-color:orange}.background .color-slide{width:0;height:0;background-color:#4b0082;animation:4s linear infinite}.background.area-top-left .color-slide{width:100%;animation-name:background-top-left}@keyframes background-top-left{from{height:0}50%{height:100%;margin-top:0}to{height:0;margin-top:50%}}.background.area-top-right .color-slide{height:100%;animation-name:background-top-right}@keyframes background-top-right{from{width:0}50%{width:100%;margin-left:0}to{margin-left:100%}}.background.area-bottom-left .color-slide{height:100%;animation-name:background-bottom-left}@keyframes background-bottom-left{from{width:0;margin-left:100%}50%{width:100%;margin-left:0}to{width:0}}.background.area-bottom-right .color-slide{width:100%;animation-name:background-bottom-right}@keyframes background-bottom-right{from{height:0;margin-top:50%}50%{height:100%;margin-top:0}to{height:0}}.circle,.dot{border-left:3px solid rgba(255,255,255,0.8);border-radius:50%;display:grid;place-items:center}.dot{width:40%;height:40%;background-color:#f5f5f5}.back-circle .circle{width:50%;height:50%;background-color:#00ff7f;transform:rotate(45deg);animation:2s linear infinite}.back-circle.area-left .circle{margin-top:25%;margin-left:75%;animation-name:back-circle-left}@keyframes back-circle-left{from{margin-top:-25%}}.back-circle.area-right .circle{margin-top:25%;margin-left:-25%;animation-name:back-circle-right}@keyframes back-circle-right{from{margin-top:75%}}.middle-circle .circle{width:25%;height:100%;margin-left:37.5%;background-color:#ffd700;animation:4s linear infinite}.middle-circle.area-top .circle{margin-top:12.5%;animation-name:middle-circle-top}@keyframes middle-circle-top{from,25%{transform:scale(0) translateX(0) rotate(45deg)}50%{transform:scale(1) translateX(0) rotate(45deg)}to{transform:scale(1) translateX(200%) rotate(45deg)}}.middle-circle.area-bottom .circle{margin-top:-12.5%;animation-name:middle-circle-bottom}@keyframes middle-circle-bottom{from,25%{transform:scale(0) translateX(0) rotate(45deg)}50%{transform:scale(1) translateX(0) rotate(45deg)}to{transform:scale(1) translateX(-200%) rotate(45deg)}}.front-circle .circle{width:25%;height:100%;margin-left:37.5%;background-color:purple;animation:4s linear infinite both;animation-delay:2s}.front-circle.area-top .circle{margin-top:12.5%;animation-name:front-circle-top}@keyframes front-circle-top{from,25%{transform:scale(0) translateX(0) rotate(45deg)}50%{transform:scale(1) translateX(0) rotate(45deg)}to{transform:scale(1) translateX(200%) rotate(45deg)}}.front-circle.area-bottom .circle{margin-top:-12.5%;animation-name:front-circle-bottom}@keyframes front-circle-bottom{from,25%{transform:scale(0) translateX(0) rotate(45deg)}50%{transform:scale(1) translateX(0) rotate(45deg)}to{transform:scale(1) translateX(-200%) rotate(45deg)}}.glow{box-shadow:0 0 32px 4px #FFF,1px 0 rgba(0,0,0,0.0208),5px 0 rgba(0,0,0,0.02),9px 0 rgba(0,0,0,0.0192),13px 0 rgba(0,0,0,0.0184),17px 0 rgba(0,0,0,0.0176),21px 0 rgba(0,0,0,0.0168),25px 0 rgba(0,0,0,0.016),29px 0 rgba(0,0,0,0.0152),33px 0 rgba(0,0,0,0.0144),37px 0 rgba(0,0,0,0.0136),41px 0 rgba(0,0,0,0.0128),45px 0 rgba(0,0,0,0.012),49px 0 rgba(0,0,0,0.0112),53px 0 rgba(0,0,0,0.0104),57px 0 rgba(0,0,0,0.0096),61px 0 rgba(0,0,0,0.0088),65px 0 rgba(0,0,0,0.008),69px 0 rgba(0,0,0,0.0072),73px 0 rgba(0,0,0,0.0064),77px 0 rgba(0,0,0,0.0056),81px 0 rgba(0,0,0,0.0048),85px 0 rgba(0,0,0,0.004),89px 0 rgba(0,0,0,0.0032),93px 0 rgba(0,0,0,0.0024),97px 0 rgba(0,0,0,0.0016),101px 0 rgba(0,0,0,0.0008)}figcaption{margin:0 5px;color:#FFF;font-size:16px;font-weight:300;font-family:"Roboto",sans-serif;position:absolute}.figcaption-title{font-size:1.3em}.figcaption-hyperlink{color:#7FC}.figure-content{width:600px;height:350px;border:1px solid #222;border-radius:2px;overflow:hidden;user-select:none;cursor:default}

body {
    background-color: black !important;
    color: white !important;
}

p {
    color: grey;
}

.dropdown-menu:before {
    background-color: var(--bg-primary);
    color: var(--content-primary);

}

button:focus {
    outline: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.bg {
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    background: linear-gradient(167deg, #030f49, #4b006e);
    background-size: 800% 800%;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#unconnected {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgb(19, 19, 19);
    z-index: 3;
}

#connected {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(19, 19, 19, 0.5);
    height: 100%;
    z-index: 2;
}

.userimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hidden {
    display: none !important;
}

#complete {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    height: 100%;
    background-color: rgb(19, 19, 19, 0.5);
    z-index: 1;
}


.modal-content {
    background-color: var(--bg-tertiary);
    color: var(--content-primary);
    border-radius: 24px;
    padding: 34px;
}

.modal-dialog {
    min-width: 90%;
}

video {
    max-width: 100%;
    width: 100%;
}

#disconnectbtn {
    min-width: 0px !important;
    width: 80px !important;
    height: 80px !important;
    background-color: red !important;
    outline: none;
    padding: 30px !important;
    border-radius: 50% !important;
}

.logortc {
    width: 80px;
}

#rtctoplogocontainer {
    position: absolute;
    top: 24px;
    left: 24px;
}

.rtcicon {
    width: 48px;
    display: inline-block;
}

.pos {
    width: 418px;
}

.logosubtext {
    display: inline-block;
    font-size: 33px;
    font-weight: 500;
    margin: 0px;
    left: 70px;
    line-height: 0px;
}

.bottombar {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.therow {
    width: 100%;
}

.usertext {
    padding-top: 24px;
    font-weight: 500;
}

.dots {
    font-weight: 600;
    font-size: 150px;
    color: grey;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.dot1 {
    animation-delay: 0.10s;
}

.dot2 {
    animation-delay: 0.20s;
}

.dot3 {
    animation-delay: 0.30s;
}

.iconbtn {
    display: inline-block;
    min-width: 0px !important;
    margin: 4px;
    width: 30px !important;
    height: 30px !important;
    outline: none;
    padding: 30px !important;
    border-radius: 50% !important;   
}

.iconbtn2 {
    min-width: 0px !important;
    padding: 8px !important;
    border-radius: 8px !important;
    margin: 4px;
    outline: none; 
}

.fav {
    color: red;
}

.happy {
    color: lime;
}

.heartbefore {
    position: fixed;
    font-size: 24px !important;
    z-index: 2000;
    color: red;
    transition: all 1s;
}

.heartafter {
    font-size: 200px !important;
    transition: all 1s;
}

.bottombar2 {
    padding: 12px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.iconactive {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 12px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.inline {
    display: inline-block !important;
    width: 20px;
}

.muteglyph1 {
    position: absolute;
    left: calc(50% + 80px);
    top: calc(50% + 80px);
    transform: translate(-50%,-50%);

    background-color: var(--bg-tertiary);
    padding-top: 8px;
    border-radius: 50%;
    font-size: 24px;
    padding-bottom: 8px;
    z-index: 20;
}

.muteglyph2 {
    position: absolute;
    left: calc(50% + 80px);
    top: calc(50% + 80px);
    transform: translate(-50%,-50%);

    background-color: var(--bg-tertiary);
    padding-top: 8px;
    border-radius: 50%;
    font-size: 24px;
    padding-bottom: 8px;
    z-index: 21;
}

.happyglyph {
    position: absolute;
    left: calc(50% + 80px);
    top: calc(50% + 80px);
    transform: translate(-50%,-50%);

    background-color: var(--bg-tertiary);
    padding-top: 8px;
    border-radius: 50%;
    font-size: 24px;
    padding-bottom: 8px;
    z-index: 21;
}

.iconactivehappy {
    background-image: linear-gradient(270deg, rgb(149, 255, 0), rgb(255, 255, 255));
    padding: 12px;
    font-size: 36px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}