<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>in.r0h.github-screen-sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/rohin/.local/bin/gh-screen-sync.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/rohin/GitHub</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>2</integer>
    <key>StandardOutPath</key>
    <string>/tmp/gh-screen-sync.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/gh-screen-sync.err</string>
</dict>
</plist>
