.eonsnackbar {
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    bottom: -10px;
    width: 40%;
    padding-left: 20px;
    line-height: 50px;
    border-radius: 7px;
    padding-right: 20px;
    color: white;
    z-index: 100;
    height: 0;
    background-color: #323232;
    transition: all .5s;
}

.eonsnackbar-active {
    bottom: 15px;
    height: 50px !important;
    transition: all 0.5s
}

/* RAISED BUTTONS */

.btn-raised-primary {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer !important;
    outline: none !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    background-color: #6200ee !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-raised-primary:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px !important;
    outline: none !important;
    padding: 10px 20px !important;
    background-color: #7F14F8 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-raised-primary-variant {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #3700B3 !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    outline: none !important;
    background-color: #3700B3 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-raised-primary-variant:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #3700B3 !important;
    border-radius: 4px !important;
    outline: none !important;
    padding: 10px 20px !important;
    background-color: #3700B3 !important;
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

/* OUTLINE BUTTONS */

.btn-outline-primary {
    border: 1px solid #6200EE !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    outline: none !important;
    color: #6200ee !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-outline-primary:hover {
    border: 1px solid #6200EE !important;
    background-color: rgb(98, 0, 238, 0.1) !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    outline: none !important;
    color: #6200EE !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-outline-primary-variant {
    border: 1px solid #3700B3 !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    color: #3700B3 !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-outline-primary-variant:hover {
    border: 1px solid #3700B3 !important;
    background-color: rgb(98, 0, 238, 0.1) !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    color: #3700B3 !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}


/* TEXT BUTTONS */

.btn-text-primary {
    border-radius: 4px !important;
    padding: 10px 20px !important;
    color: #6200ee !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-text-primary:hover {
    background-color: rgb(98, 0, 238, 0.1) !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    color: #6200EE !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-text-snackbar-primary {
    border-radius: 4px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #6200ee !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-text-snackbar-primary:hover {
    background-color: rgb(98, 0, 238, 0.1) !important;
    border-radius: 4px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #6200EE !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-text-primary-variant {
    border-radius: 4px !important;
    padding: 10px 20px !important;
    color: #3700B3 !important;
    font-weight: bold !important;
    outline: none !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

.btn-text-primary-variant:hover {
    background-color: rgb(98, 0, 238, 0.1) !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    outline: none !important;
    color: #3700B3 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: .875rem !important;
    letter-spacing: .0892857143em !important;
    transition: all 0.2s ease-in !important;
}

/* GENERAL */

.scrollable {
    overflow: auto;
    white-space: nowrap;
}