button {
    outline: none !important;
}

.navcentered {
    width: 200%;
    text-align: center;
    position: relative;
    display: block;
}
.navcentered a {
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;

    color: white !important;
}

.navcentered a:hover {
    color: white !important;
}

.navbtn {
    color: white !important;
    margin-right: 12px;
}
.navbtn:hover {
    color: white !important;
}

.eon-contained {
    background-color: rgb(46, 98, 194) !important;
}

.eon-contained:hover {
    background-color: rgb(56, 109, 207) !important;
}

.white {
    color: white;
    font-weight: 600;
}

.grey {
    color: rgb(228, 228, 228);
}

.centered {
    width: 100%;
}

.hidden {
    display: none !important;
}

.signcard {
    width: 90%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}


.forms {
    width: 300px;
}

.block {
    display: block !important;
    width: 100%;
}

.conten {
    padding: 24px;
}

.black {
    color: black !important;
}

.cloudcard {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid rgb(230, 230, 230);
    position: relative;
}

.cloudcard .centered {
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}

.iconbtn {
    min-width: 0px !important;
    padding: 12px !important;
}

th {
    text-align: center;
}


.container {
    max-width: 75rem;
    width: 80%;
    padding: 0 2rem;
    margin: 0 auto;
  }
  
  .wrapper {
    max-width: 40rem;
    padding: 3rem;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .form-group:first-child {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-flex: 1;
            flex: 1;
    flex-basis: auto;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .form-group .input-field {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .form-group .input-field:first-child {
    margin-right: 1rem;
  }
  
  .ui-datepicker {
    display: none;
    max-width: 20rem;
    background: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
  }
  .ui-datepicker-header {
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .ui-datepicker-header a span {
    display: none;
  }
  .ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .ui-datepicker-header a.ui-corner-all:hover {
    border: 1px solid #cccccc;
  }
  .ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("../icons/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 50%;
  }
  .ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url("../icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 50%;
  }
  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  .ui-datepicker-calendar thead {
    color: #cccccc;
  }
  .ui-datepicker-calendar a {
    color: #444444;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .ui-datepicker-calendar a:hover {
    border: 1px solid #cccccc;
  }
  .ui-datepicker-calendar .ui-datepicker-unselectable {
    color: #999999;
    cursor: default;
  }
  .ui-datepicker-calendar .ui-state-highlight {
    border-color: #d33a47;
    color: #d33a47;
  }
  .ui-datepicker-calendar .ui-state-active {
    background: #d33a47;
    color: #ffffff;
  }
  
  @media only screen and (max-width: 700px) {
    .container {
      max-width: 75rem;
      width: 100%;
    }
  
    .wrapper {
      max-width: 40rem;
      padding: 2rem;
    }
  
    .form-group:first-child {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
    }
    .form-group .input-field:first-child {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  

