/* app.css 
To contain all the main styling used throughout the app such as icons, tabs, views, etc. */

.gradicon {
  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  padding: 24px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabgradicon {
  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  padding: 24px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab {
  padding-top: 50px;
  position: relative;
}

.iconbtn {
  min-width: 0px;
  padding: 24px;
  position: relative;

  margin-right: 6px;
  margin-left: 6px;
  border-radius: 24px;
}

.iconbtn i{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.hidden {
  display: none !important;
}

.block {
  width: 100%;
}

#finish_profile {
  position: fixed;
  top: 0px; left: 0px;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px);
  z-index: 900000040000;
}

#unverified {
  position: fixed;
  top: 0px; left: 0px;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px);
  z-index: 900000040001;
}

#updateNotify {
  position: fixed;
  top: 0px; left: 0px;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px);
  z-index: 900000040002;
}

#sidebar {
  position: fixed;
  left: 0px; top: 0px;
  height: 100%; width: 280px;
  background-color: var(--bg-secondary);
  padding: 24px; overflow: auto;
}

#sidebar h4 {
  margin-top: 28px;
}

#sidebar .tab-btn{
  width: 100%;
  border-radius: 18px;
  margin-top: 12px;
  text-align: left;
  text-transform: none;
  color: var(--content-primary) !important;
}

#sidebar .tab-btn i {
  margin-right: 24px;
  color: var(--content-tertiary) !important;
}

#sidebar .tab-btn-active {
  color: var(--eon-primary) !important;
}

#sidebar .tab-btn-active i {
  color: var(--eon-primary) !important;
}

#content {
  position: fixed;
  z-index: 2;
  box-shadow: -35px 0px 400px 10px rgba(0, 0, 0, 0.1);
  right: 0px; top: 0px;
  height: 100%; width: calc(100% - 280px);
  padding: 36px; overflow-y: auto;
}

#usercard {
  position: fixed;
  height: 74px; width: 232px; bottom: 24px;
  transition: all 0.5s !important;
  border-radius: 12px;
  background-color: var(--bg-tertiary);
  padding: 12px;
}

#fakeusercard {
  height: 92px; width: 232px; padding: 12px;
}

#fakeplayer {
  height: 72px; width: 232px; padding: 12px;
}

#usercard img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#usercard p {
  position: absolute;
  left: 78px; top: 50%;
  transform: translate(0, -50%);
}

#usercard p b {
  display: block;
}

#usercard button {
  margin-top: 3px;
  float: right;
}

#player {
  position: fixed;
  bottom: 0px; width: calc(100% - 32px);
  height: 58px; padding: 4px;
  margin: 16px; z-index: 90000003;
  border-radius: 12px;
  background-color: var(--ripple-secondary);
  backdrop-filter: blur(18px);
}

#player img {
  position: absolute;
  left: 12px; height: 50px;
  width: 50px; object-fit: cover;
  border-radius: 8px;
}

#player p {
  position: absolute;
  left: 72px; top: 50%;
  transform: translate(0, -50%);
  text-overflow:ellipsis; max-width: 200px;overflow: hidden; white-space: nowrap;
}

#player p b {
  display: block;
  text-overflow:ellipsis; max-width: 200px;overflow: hidden; white-space: nowrap;
}

#player #queueProgress {
  position: absolute;
  left: 12px; top: 50%;
  transform: translate(0, -50%);
} 

#player .plyr {
  position: absolute;
  right: 12px; top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  width: calc(100% - 490px);
  transition: all 1s !important;
}

#player .plyr .plyr__controls {
  width: 100%;
  background: transparent;
}

.songactions {
  position: absolute;
  left: 272px; top: 50%;
  transform: translate(0, -50%);
  transition: all 1s !important;
}

.btn-disabled {
  background-color: transparent !important;
  color: grey !important;
}

.btn-disabled:hover {
  background-color: transparent !important;
  color: grey !important;
}

#loader {
  position: fixed;
  z-index: 900000020;
  bottom: 24px; right: 24px;
  padding: 24px; border-radius: 12px;
  background-color: var(--bg-secondary);
}

#loader i {
  position: absolute;
  left: 50%; top: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

.tab-title {
  font-weight: 700;
}

.tab-subtitle {
  color: var(--eon-primary);
  line-height: 0px;
}

.tabtitlebox {
  float: left;
}

.modalfooterright {
  text-align: right;
  padding: 24px;
}

.modalfooterright button{
  margin-left: 12px;
}

.modalfooter {
  text-align: center;
  padding: 24px;
}

.playlistButton {
  margin-bottom: 24px;
  width: 100%;
}

#playlistSelect {
  z-index: 9000000200000000000;
}

/* #electron {
  position: fixed;
  width: 100%;
  top: 0px; left: 0px;
  height: 50px;
  -webkit-app-region: drag;
  z-index: 80;
} */

.showQueue {
  position: fixed;
  bottom: 180px; left: 16px;
  padding: 4px; z-index: 90000008;
  width: 232px;
}

.showQueue i {
  left: 24px;
}

#queueItems {
  width: 100%;
  float: left;
  margin-bottom: 48px;
}

#queueItems .song {
  background-color: var(--bg-primary);
}

#queueItems .song:hover {
  background-color: var(--bg-secondary);
  transition: all 0.2s;
}

#queueNow {
  float: left;
  width: 100%;
  margin-bottom: 36px;
  position: relative;
  animation-duration: 6s;
}

#queueNow .song{
  background-color: var(--contrast);
}

#nav {
  position: fixed;
  top: 0px; left: 280px;
  width: calc(100% - 280px); height: 50px;
  background-color: var(--glass);
  backdrop-filter: blur(18px);
  z-index: 900000040;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 36px 6px 36px;


  -webkit-app-region: drag;
}

#nav button {
  vertical-align: middle;
  padding: 4px 3px 0px 5px;
  min-width: 0px;
  border-radius: 8px;
  margin-right: 24px;
}

#nav img {
  position: absolute;
  left: 12px;
  width: 110px;
}

.tab-btn {
  position: relative;
}

.tab-btn span {
  margin-left: 48px;
}

.tab-btn .bx {
  position: absolute;
  top: 50%; transform: translate(0, -50%);
}


.btn-outlined .waves-ripple {
  background: var(--ripple-primary) !important;
}

.btn-text .waves-ripple {
  background: var(--ripple-primary) !important;
}

.btn-contained {
  background-color: var(--button-primary)  !important;
}
.btn-contained:hover {
  background-color: var(--button-primary) !important;
  color: rgb(226, 226, 226) !important;
  opacity: 0.9;
}
.btn-outlined {
  background-color: transparent !important;
  color: var(--button-primary) !important;
  border-color: var(--button-primary) !important;
}
.btn-outlined:hover {
  background-color: var(--ripple-secondary) !important;
}
.btn-text {
  color: var(--button-primary) !important;
}
.btn-text.btn-danger {
  color: var(--danger) !important;
}
.btn-text:hover {
  background-color: var(--ripple-secondary) !important;
}

#userpfp2 {
  border-radius: 50%;
  width: 150px; height: 150px;
  object-fit: cover;
  margin-bottom: 24px;
}

#browse_load {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.snackbar-container {
  background-color: var(--ripple-secondary) !important;
  backdrop-filter: blur(18px) !important;
  z-index: 3000000000;
}

.snackbar-container div {
  color: var(--content-primary) !important;
}

.list-group-item {
  background-color: var(--c-1);
  color: var(--content-primary);
}

.list-group-item:hover {
  background-color: var(--bg-c-2);
  color: var(--content-primary);
}

.list-group-item:first-child {
  border-radius: 24px 24px 0px 0px;
}

.list-group-item:last-child {
  border-radius: 0px 0px 24px 24px;
}

.sortbtn {
  z-index: 65;
}

.lyricsFrame {
  text-align: center;
  border-radius: 12px;
}


.frtb {
  margin-left: 36px;
}

#version {
  position: absolute;
  text-decoration: underline;
  left: 50%; transform: translate(-50%, 0);
  color: var(--content-secondary);
  margin-top: 12px;
}

#tutorial {
  position: fixed;
  width: 100%; height: 100%;
  z-index: 75000;
  backdrop-filter: blur(5px);
}

#tutorial .card {
  position: absolute;
  text-align: center;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px; max-width: 50%;
}

.textleft {
  width: 100%;
  text-align: left;
}

.reclist {
  text-align: left;
}