/* eon.css
Color variables and styling for app-wide elements. */

:root {
  --plyr-color-main: var(--eon-primary);
  --plyr-audio-control-color: var(--content-primary);
}

.es-how {
  box-shadow: 0px -1px 27px -15px rgba(0,0,0,0.75);
}

hr {
  background-color: var(--content-primary);
  opacity: 0.6;
  margin: 12px 36px 12px 36px;
}

body {
  background-color: var(--bg-primary);
  color: var(--content-primary);
}

audio {
  outline: none;
}

.hidden {
  display: none !important;
}

.block {
  width: 100%;
}

.float {
  float: right;
}

.dropdown {
  display: inline-block;
}

.bottom_sheet {
  max-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.8em;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--s-1);
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-1);
  width: 1em;
  height: 1em;
  border-radius: 12px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-2);
  cursor: pointer;
  border-radius: 0px;
  width: 1em;
  transition: all 0.5s;
}

#loading {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  transition: all 0.5s;
  z-index: 3000000;
}

.bx {
  font-size: 24px;
}

.fastest {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-duration: calc(var(--animate-duration)/4);
  animation-duration: calc(var(--animate-duration)/4);
}

.inline {
  display: inline-block
}