/* index.css
Styling for the login page. */

body {
  background-image: url('../assets/bg.jpeg');
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
  color: white !important;
}

.logo_welcome {
  max-width: 340px;
}

.eform {
  width: 40%;
  max-width: 600px;
}

.textfield-box {
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 8px;
}

.entryicon {
  font-size: 96px;  
}

#electron {
  position: fixed;
  width: 100%;
  top: 0px; left: 0px;
  height: 33px;
  -webkit-app-region: drag;
  z-index: 30000000000000000000000;
}