/* music.css
Styles for every music-related component such as albums, artists and view content.
Some are redudant but exist for future features. */

#searchResults h3 {
  margin: 24px 0px 0px 36px;
}

.horiz_search {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  padding: 14px;
  text-align: left;
}

.category {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 12px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s;
}

.category h3 {
  color: var(--content-primary) !important;
  margin: 12px;
  max-height: 100%;
  text-align: center;
  line-height: 18px;
  text-overflow:ellipsis; overflow: hidden; white-space: nowrap;
}

.category img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  transition: all 0.4s;
}

.category img:hover {
  border-radius: 50%;
}

.category:hover {
  opacity: 0.6;
}

.album {
  text-align: center;
  display: inline-block;
  margin: 12px;
  transition: all 0.3s;
}

.album:hover, .friendItem img:hover, .artist img:hover, .playlist:hover, .category:hover, .otherUserBPlaylist:hover, .userPlaylist:hover {
  transform: translate(0, -12px);
}

.album h4 {
  mix-blend-mode: difference;
  color:white;
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.album img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  cursor: pointer;
}

.album .content {
  border-radius: 12px;
}

.album p {
  mix-blend-mode: difference;
  color:white;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist {
  text-align: center;
  display: inline-block;
  margin: 14px;
}

.artist h4 {
  color: var(--content-primary) !important;
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist img {
  margin-bottom: 12px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}

.artist img:hover {
  border-radius: 45%;
  opacity: 0.6;
}

.playlist {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  transition: all 0.3s;
  cursor: pointer;
}

.playlist img:hover {
  opacity: 0.6;
  border-radius: 18px;
}

.playlist h4 {color: var(--content-primary) !important;
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist p {color: var(--content-primary) !important;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist img {
  margin-bottom: 12px;
  transition: all 0.3s;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

.track {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  position: relative;
}

.track h4 {
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track img {
  margin-bottom: 12px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

#user_library_playlists {
  margin-top: 36px;
  text-align: center;
}

.userPlaylist, .otherUserBPlaylist {
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.userPlaylist:hover, .otherUserBPlaylist:hover {
  background-color: var(--content-primary);
}

.userPlaylist h4, .otherUserBPlaylist h4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 800; line-height: 28px;
  text-overflow:ellipsis; max-width: 150px;
  overflow: hidden;
}

.userPlaylist p, .otherUserBPlaylist p {color: white !important;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.userPlaylist img, .otherUserBPlaylist img {
  margin-bottom: 12px;
  display: inline-block;
  width: 150px; height: 150px;
  object-fit: cover; border-radius: 24px;
}

.media_view {
  position: fixed;
  height: 100%; width: calc(100% - 280px);
  padding: 36px; overflow-y: auto;
  background-color: var(--bg-primary);
  right: 0px; top: 0px;
  padding-top: 86px;
}

.playlistHeader2 h1 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

.playlistHeader img {
  max-width: 320px;
  min-width: 320px;
  max-height: 320px;
  min-height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.albumSide0 .content {
  max-width: 25%;
  min-height: 1px;
  padding: 108px 20px 0px 20px;
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.albumSide0 {
  position: absolute;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% - 32px);
  height: 100%;
  text-align: left;
}

.playlistHeader .chip {
  background-color: var(--bg-secondary);
  color: var(--content-primary);
  margin: 4px;
}

.albumImg {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: inline-block;
}

.albumHeader {
  padding-left: 24px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.albumHeader h1 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
}

.albumHeader p {
  color: var(--content-secondary);
}

.albumHeader .chip {
  background-color: var(--bg-secondary);
  color: var(--content-primary);
  margin: 4px;
}

.myPlaylistOverlay {
  display: none;
}

.playlistDescription {
  max-height: 120px;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}

.myPlaylistImg {
  display: relative;
}

.myPlaylistImg:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.myPlaylistImg:hover + .myPlaylistOverlay, .myPlaylistOverlay:hover {
  display: block; position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.playViewGradient {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 280px;
  background-color: var(--bg-secondary);
  background-image: linear-gradient(180deg, var(--bg-secondary) -20%, var(--bg-secondary) 100%);
  transition: all 1s !important;
}

.detailsButton {
  position: absolute; z-index: 900000020;
  top: 72px; left: 82px;
  height: 48px; width: 48px;
  min-width: 0px; padding: 12px 8px 12px 8px;
  margin-right: 6px; margin-left: 6px; border-radius: 34px;

  background-color: var(--bg-tertiary) !important;
  color: var(--content-primary) !important;
}

.detailsShifted {
  top: 73px !important;
}

.detailsButton:hover {
  transform: none;
}

.detailsButton:hover {
  color: var(--eon-primary) !important;
  background-color: var(--bg-primary) !important;
}

.closePlaylistButton {
  position: absolute; z-index: 900000020;
  top: 86px; left: 24px; height: 48px; width: 48px;
  min-width: 0px; padding: 12px 8px 12px 8px;
  margin-right: 6px; margin-left: 6px; border-radius: 24px;

  background-color: var(--bg-tertiary) !important;
  color: var(--content-primary) !important;
}

.closePlaylistButton:hover {
  color: var(--eon-primary) !important;
  background-color: var(--bg-primary) !important;
}

.songList {
  margin-top: 12px; width: 100%;
  display: block; 
}

.playlistList {
  margin-top: 12px; width: 100%;
  text-align: center;
  display: block; 
}

.playPlaylistBtn {
  background-color: var(--eon-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.shufflePlaylistBtn {
  background-color: grey !important;
  color: var(--content-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.albumLibraryBtn:hover {
  transform: scale(1.10);
  background-color: orange !important;
  transition: all 0.5s;
}

.playPlaylistBtn:hover {
  transform: scale(1.10);
  background-color: var(--eon-primary) !important;
  transition: all 0.5s;
}

.shufflePlaylistBtn:hover {
  transform: scale(1.10);
  background-color: grey !important;
  transition: all 0.5s;
}

.albumLibraryBtn {
  background-color: var(--eon-secondary) !important;
  color: var(--content-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.Song {
  border-radius: 12px; width: 100%;
  padding: 8px; cursor: pointer;
  background-color: var(--bg-primary);
  display: block;
}

.Song img {
  display: inline-block; border-radius: 4px;
  width: 36px; margin-right: 12px;
}

.track_data {
  display: inline-block;
  width: calc(100% - 36px - 12px - 12px);
  vertical-align: middle;
}

.Song b {
  display: inline-block;
  font-size: 18px;
  margin: 0px; line-height: 12px;
  text-overflow:ellipsis; max-width: 100%; overflow: hidden; white-space: nowrap;
  padding-bottom: 2px;
}

.Song p {
  margin: 0px;
  padding-top: 2px;
  line-height: 8px;
  font-size: 6px;
  color: var(--content-secondary);
}

.Song:hover {
  background-color: var(--glow);
  transition: all 0.1s;
}

#collectionAlbums, #collectionArtists, #favAlbums, #favArtists {
  /* Masonry
  display: grid;
  justify-items: center;
  grid-gap: 64px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 10px; */

  text-align: center;

}

#collectionAlbums .album, #collectionArtists .artist { /* Masonry bricks or child elements */
  /* position: relative;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 24px;
  grid-row-end: span 1;
  transition: all 0.5s; */

  display: inline-block
}


#artists, #albums, #playlists, #songs {
  margin: 12px 48px;
}

.albumFooter {
  background-color: var(--bg-primary);
  transition: all 0.5s;

  padding: 12px;
  border-radius: 0px 0px 12px 12px;
}

.albumFooter p {color: white !important;
  margin: 0px;
}

.artistHero {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 280px;
  object-fit: cover; object-position: center;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.artist_albums {
  overflow: auto;
  white-space: nowrap;
}

.trackLibraryItem {
  background-color: var(--bg-primary);
  position: relative;
}

#browse_new {
  white-space: nowrap;
  margin-bottom: 26px;
} 

#browse_play {
  white-space: nowrap;
  margin-bottom: 26px;
}

#browse_categories {
  text-align: center;
  margin-bottom: 26px;
}

.artistHeaderLeft {
  position: absolute;
  left: 170px;
  max-width: calc(100% - 250px);
}

.artistHeaderLeft h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
}

.artistHeaderLeft p {
  margin-top: -12px;
}

.playArtistBtn {
  background-color: var(--eon-primary) !important;
  color: var(--content-primary) !important;
  right: 24px !important;
  top: 86px; height: 48px; width: 48px;
  min-width: 0px; padding: 12px 8px 12px 8px;
  margin-right: 6px; margin-left: 6px; border-radius: 24px; 
  position: absolute; z-index: 900000020;
}

.shuffleArtistBtn {
  background-color: var(--bg-tertiary) !important;
  color: var(--content-primary) !important;
  top: 86px; right: 84px; height: 48px; width: 48px;
  min-width: 0px; padding: 12px 8px 12px 8px;
  margin-right: 6px; margin-left: 6px; border-radius: 24px; 
  position: absolute; z-index: 900000020;
}

.shuffleArtistBtn:hover {
  color: var(--eon-primary) !important;
  background-color: var(--bg-primary) !important;
}

.artist_content h3{
  margin-top: 24px;
  font-size: 28px;
  font-weight: 500;
}


.artist_details {
  text-align: center;
  padding: 24px;
}

.artist_details img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

#lyrics {
  position: fixed;
  z-index: 5612789;
  right: -320px; top: 62px;
  overflow-y: scroll;
  padding: 12px;
  height: calc(100% - 50px - 88px - 12px); width: 320px;
  border-radius: 12px 0px 0px 12px;
  backdrop-filter: blur(5px); background-color: var(--glow);
  transition: all 0.5s;
}

.lyricsActive {
  right: 0px !important;
}

.recommendbtn {
  padding-left: 48px;
  position: relative;
}

.recommendbtn i {
  position: absolute; 
  margin-top: -2px;
  left: 12px;
}