/* social.css
Styling for the social section of EonSound.
Some may be used outside the social sections to reference social elements. */

.previewLargeCard {
  margin-top: 12px;
  padding: 12px 12px 12px 92px;
  position: relative;
  width: 100%;
}

.previewLargeCard img {
  position: absolute;
  left: 12px; object-fit: cover;
  width: 72px; height: 72px;
  border-radius: 50%;
}

.previewLargeCard .content {
  float: left;
}

.previewLargeCard .actions {
  position: absolute;
  top: 50%; right: 12px;
  transform: translate(0, -50%);
}

.userRequestCard {
  padding: 12px;
  margin: 16px;
  text-align: center;
  display: inline-block;
}

.userRequestCard button {
  width: calc(50% - 16px)
}

.userRequestCard .btn-success:hover {
  background-color: var(--success) !important;
}

.userRequestCard .btn-danger:hover {
  color: var(--danger) !important;
}

.userRequestCard img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 6px;
}

#horizontal_friends_list {
  overflow: auto;
  white-space: nowrap;
}

.friendItem {
  margin: 16px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.friendItem img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.friendItem h4 {
  text-overflow:ellipsis; max-width: 90px;overflow: hidden; white-space: nowrap;
}

.friendItem img:hover {
  border-radius: 45%;
  opacity: 0.6;
}

#friends {
  height: 100%;
}

#friend-home {
  height: calc(100% - 20px);
}

.relative2 {
  padding-bottom: 12px;
}

.messagecontainer {
  padding: 8px 8px 8px 50px; margin: 8px 2px 8px 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.07),0 2px 1px 0 rgba(0,0,0,.12),0 1px 4px 0 rgba(0,0,0,.1);
  background-color: var(--bg-secondary);
  border-radius: 7px; overflow: hidden;
  position: relative;
}

.messagecontainer img {
  width: 38px; height: 38px;
  border-radius: 50%;
  position: absolute; 
  top: 5px; left: 5px;
}

.messagecontainer span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.frcard .img {
  position: absolute;
  top: 12px; left: 12px;
  width: 54px; height: 54px;
  border-radius: 50%;
}

.frcard h2 {
  position: absolute;
  top: 27px; left: 78px;
  font-size: 18px;
  width: calc(100% - 90px);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.frcard button {
  vertical-align: middle;
  display: inline-block;
}

.frcard .danger {
  color: var(--danger) !important;
}

.readNotice {
  position: absolute;
}

.deliveredNotice {
  position: absolute;
  right: 24px;
  margin-top: -22px;
}

.deliveredNotice i {
  position: absolute;
  color: var(--eon-secondary);
  margin-top: -4px;
  margin-left: -26px;
}

.readNotice {
  position: absolute;
  left: 48px;
  margin-top: -22px;
}

.readNotice i {
  color: var(--eon-primary);
  position: absolute;
  margin-top: -4px;
  margin-left: -26px;
}

.pingSpan {
  position: absolute;
  margin-top: -12px;
  left: 50%; transform: translate(-50%, 0);
}

.socialUserPlaylistView {
  position: relative;
  margin-top: 14px;
  width: 100%;
}

.otherUserBPlaylistItem {
  position: relative;
  width: 100% !important;
  margin: 8px 0px 8px 0px;
}

.musicSpan {
  position: absolute;
  top: 74px;
  left: 74px;
  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.listening2 {
  margin-top: 24px;
  position: relative;
  text-align: left;
}

.friendView {
  margin-bottom: 36px;
}

.userviewcol {
  position: sticky;
  left: 0px;
  width: 50%;
  min-height: 400px;
  padding: 8px 0px 24px 0px;
}

.frcard {
  max-height: calc(100% - 48px);
  width: calc(100% - 82px);
  text-overflow: clip;
  min-height: 160px;

  top: 6px; left: 50%;
  transform: translate(-50%, 0);
}

.frcard .card-body .socialUserPlaylistView {
  height: 100px;
  overflow-y: auto;
}

.frcard .card-body .socialUserPlaylistView div img{
  height: 50px;
  width: 50px;
  border-radius: 6px;
  position: absolute;
  left: 12px;
  top: 50%; transform: translate(0, -50%);
}


.msgcol {
  position: absolute;
  right: 0px;
  width: 50%;
  top: 265px;
  height: calc(100% - 330px);
  overflow: auto;
}
