body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black; background-color: white;
  padding: 36px; display: flex;
  margin: 0px;
  justify-content: center;
  width: calc(100% - 36px - 36px); height: 100%;
  overflow: hidden;
  animation-delay: 0.5s;
}

.content {
  display: flex;
  width: 80%;
  overflow-y: hidden;
  display: inline-block;
  height: calc(100vh - 82px);
  text-align: left;
}

.content iframe {
  width: 100%;
  height: calc(100vh - 248px);
  border: none;
  overflow-y: auto
}