body {
  background-color: white; 
  color: black; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#rohin {
  width: 100%;
  height: 64px;
  margin: 12px;
}

.box a {
  position: absolute;
  bottom: 0; left: 0px;
  width: calc(100% - 32px);
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
  border-top: 1px solid black;
  color: black;
  font-family: 'Playfair Display', serif;
  padding: 8px 16px;
  padding-top: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
}

.box {
  position: relative;
}

.box a:hover {
  background-color: black;
  color: white;
}

.grid {
  /* 2 by x grid */
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 24px;
  padding: 10px;
}

/* Small screens, 1 wide grid */
@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  div.centered {
    height: 100%;
    overflow-y: auto;
  }
}

.box {
  max-width: 226px;
  height: 200px;
  border: 1px solid black;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  color: red;
}

p.boxBody {
  width: calc(100% - 24px);
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  padding: 12px;
  text-align: left;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 3s linear infinite;
  animation-delay: 2s;
  animation-play-state: running;
}

.marquee span {
  font-size: 3em;
  padding: 0 2vw;
  white-space: nowrap;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.centered {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Playfair Display', serif;
}

.reel {
  text-align: center;
  font-size: 0.8em;
}

a {
  color: red;
  text-transform: none;
}