:root {
    --bg-primary: #1C193A;
    --bg-secondary: #211D44;
    --bg-tertiary: #292555;
    --bg-quaternary: #5B39DB;
    --eon-primary: rgb(255, 100, 247);
    --eon-secondary: rgb(255, 0, 0);
    --content-primary: #fff;
    --content-secondary: #6B66A3;
    --contrast-primary: #000;
    --list-item-one: rgb(229, 255, 0);
} 


html, body { height: 100%; }

.content {
    color: var(--content-primary)
}
.content2 {
    color: var(--content-secondary)
}

body {
    background-color: var(--bg-primary);
    color: content-primary;
    font-family: 'Baloo Bhaina 2', cursive;
    padding-left: 200px;
    padding-top: 20px;
}

hr {
    background-color: var(--content-secondary);
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.card {
    background-color: var(--bg-tertiary);
    border-radius: 24px;
    color: var(--content-primary);
    text-align: left;
}

button {
    outline: none !important;
}

.eon-text {
    text-decoration: none !important;
}