body {
    font-family: 'Baloo Da 2';
    height: 100%;

    background-color: white;

    padding: 88px;
}

button {
    outline: none !important;
}

.block {
    width: 100%;
    display: block;
}

.hidden {
    display: none !important;
}

.cardmain {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8)
}

.iconbtn {
    padding: 8px !important;
    min-width: 0px !important;
    overflow: visible;
}

.iconbtn img {
    width: 48px;
}

.title {
    font-weight: 550;
    color: orangered;
}

.sub {
    font-weight: 400;
    color: grey;
}

.description {
    font-weight: 500;
}

.grid button {
    margin: 4px;
}

.iconbtn span {
    color: black !important;
    display: block;
    position: absolute;
    bottom: -2px;
}