inline_height = 15
show_preview = true
exit_mode = "return-query"
history_filter = [
   "^vault",
   "^bw",
   "^export VAULT_ADDR",
   "^export VAULT_TOKEN"
]
enter_accept = true
filter_mode = "directory"
sync_address = "{{- default "https://api.atuin.sh" .atuin -}}"
