.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  color: var(--contrast-primary) !important;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 0px 15px 0 var(--bg-primary);
  border: none;
  cursor: pointer;
  background: var(--content-quaternary);
}
.search-box + label .search-icon {
  color: var(--contrast-primary) !important;
}
.search-box:hover {
  color: var(--content-primary);
  background: var(--content-quaternary);
  box-shadow: 0 8px 24px 0 var(--bg-primary);
}
.search-box:hover + label .search-icon {
  color: var(--contrast-primary);
}
.search-box:focus {
  -webkit-transition: width 0.3s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.3s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: #000 !important;
}
.search-box:focus + label .search-icon {
  color: var(--contrast-primary);
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
  
#search-submit {
  position: relative;
    left: -5000px;
}
  
.search-icon {
  position: relative;
  left: -37px;
  color: var(--contrast-primary);
  cursor: pointer;
  background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
  padding: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.search-container {
  height: 34px;
}