:root {
    --eon-primary: rgb(226, 51, 51);
    --eon-secondary: #fcad45;
}

.content {
    padding: 48px;
}

button {
    outline: none !important;
}

p {
    color: rgb(53, 53, 53);
}

.subtext {
    max-width: 70%;
}

.hidden {
    display: none !important;
}

.articlecard {
    display: inline-block;
    width: 18em;
    margin-bottom: 24px;
    height: 16em;
    text-align: left;
}

.dateEl {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.goEl {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
}

.articleincard {
    text-align: left;
    margin-top: 48px;
    width: 50%;
    padding: 44px;
}

.iconactive {
    background-image: linear-gradient(270deg, var(--eon-primary), var(--eon-secondary));
    padding: 6px;
    font-size: 36px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#discordlogo {
    width: 28px;
}