html {
    scroll-behavior: smooth;
  }
.btn-main {

    background: transparent;
    width: 280px;
    height: 60px;
    border-radius: 120px;
    color: white;
    transition: all 0.4s;
}

.btn-main:hover {
    color: white;
    background-color: rgb(0, 0, 0,0.2);
    transition: all 0.4s;
    border: 1px solid white;

}

.shrink {
    background-color: rgb(255, 255, 255);
    color: white;
    transition: all 1s;
}
.wide {
    transition: all 1s;

}