@tailwind base;
@tailwind components;
@tailwind utilities;

.animationIn {
  animation: fadeInUp 0.5s;
  opacity: 1;
  margin-top: 1.5rem;
  left: 50%;
  transform: translateX(-50%) scale(1);
}

.animationOut {
  animation: fadeOutDown 0.5s;
  opacity: 0;
  margin-top: 3rem;
  left: 50%;
  transform: translateX(-50%) scale(0.85);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
  }

  to {
    opacity: 1;
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeOutDown {
  to {
    opacity: 0;
    margin-top: -0rem;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
  }

  from {
    opacity: 1;
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}